
<h1>Настройки</h1>
<div class="fields form">

  <form action="?module=plugins&id=rees46&action=save" method="post"  id="plugins-settings-form">
    {$wa->csrf()}

    <div class="field">
      <div class="name">
          Код вашего магазина: 
      </div>
      <div class="value" style="margin-left: 150px!important;">
        <input  required="required" type="text" id="rees_shop_id" size="32" name="shop_rees46[shop_id]" class="colorwell" value="{$rees46_shop_id}" />
      </div>
    </div>

    <div class="field">
      <div class="name">
          Секретный ключ: 
      </div>
      <div class="value" style="margin-left: 150px!important;">
        <input  required="required" type="text" id="rees_shop_id" size="32" name="shop_rees46[secret_key]" class="colorwell" value="{$rees46_secret_key}" />
      </div>
    </div>

    <div class="field">
      <div class="name">
          Статус:
      </div>
      <div class="value" style="margin-left: 150px!important;">
        <select name="shop_rees46[is_enabled]">
          <option {if $rees46_is_enabled == 1} selected="selected"{/if} value="1">Включен</option>
          <option {if $rees46_is_enabled != 1} selected="selected"{/if} value="0">Выключен</option>
        </select>
      </div>
    </div>
    
    <div style="clear: both;"></div>
    <br />
    
    <div class="field">
      <div class="value submit">
        <input type="submit" class="button green" value="Сохранить">
        <span id="plugins-settings-form-status" style="display:none">
          <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
        </span>
      </div>
    </div>
  </form>
    
</div>
