{if $rees46_shop_id && $rees46_shop_id != ''}
{literal}
<script type="text/javascript">

function setREES46() {

  $('.rees46').each(function() {
    {/literal}
    {* =============== Display Blocks =================== *}
      var recommenderBlock = $(this);
      var recommenderType = recommenderBlock.data('type');
      var recommenderTitle = recommenderBlock.data('title');
      var recommenderLimit = recommenderBlock.data('limit');
      if (recommenderLimit == null || recommenderLimit == undefined)
        recommenderLimit = 5;

      var recomend_products_tpl = ''
    {literal}
      if (recommenderType) {
        REES46.recommend({
          recommender_type: recommenderType,
          category: document.currentCategoryId,
          item: document.currentProductId,
          cart: document.currentCart
        }, function(ids) {
          if (ids.length == 0) {
            return;
          }

          {/literal}
          var baseUrl = "{$wa->getUrl('/frontend/rees46/')}";
          var shopUrl= "{$wa->getUrl('/frontend')}";
          {literal}

          $.getJSON(baseUrl + '?plugin=rees46&action=products&product_ids=' + ids.join(','), function(data) {
            var products = data.products;

            var productsBlock = '';

            $(products).each(function() {

              if (this.name != '' && this.name != null) {
                var recommend_url = shopUrl + this.url + recommenderType;
                recomend_products_tpl += '<div class="recommended-item">' +
                                          '<div class="recommended-item-photo">' +
                                            '<a href="' + recommend_url + '"><img src="' + this.image_url + '" class="item_img" /></a>' +
                                          '</div>' +
                                          '<div class="recommended-item-title">' +
                                            '<a href="' + recommend_url + '">' + this.name + '</a>' +
                                          '</div>' +
                                          '<div class="recommended-item-price">' +
                                            this.price + ' ' + REES46.currency +
                                          '</div>' +
                                          '<div class="recommended-item-action">' +
                                            '<a href="' + recommend_url + '">Подробнее</a>'+
                                          '</div>'+
                                         '</div>';
              }
            });

            var recommender_titles = {
                interesting: 'Вам это будет интересно',
                also_bought: 'С этим также покупают',
                similar: 'Похожие товары',
                popular: 'Популярные товары',
                see_also: 'Посмотрите также',
                recently_viewed: 'Вы недавно смотрели'
            };

            if (recommenderTitle == null || recommenderTitle == undefined)
              recommenderTitle = recommender_titles[recommenderType]

            if (recomend_products_tpl != '') {
              template = '<div class="recommender-block-title">' + recommenderTitle + '</div><div class="recommended-items">' + recomend_products_tpl + '</div>'

              if (REES46.showPromotion) {
                template = template + REES46.getPromotionBlock();
              }

              recommenderBlock.html(template);
            }

          });
        });
      }
    });
  };

  function initREES46() {
    $(function () {
      {/literal}        

        document.is_rees46_init = true;

        {if $wa->userId()}
          REES46.init('{$rees46_shop_id}', "{$wa->userId()|default:'null'}");
        {else}
          REES46.init('{$rees46_shop_id}', null);
        {/if}

        {* =============== Product view =================== *}        
                

        {if isset($category)}
          document.currentCategoryId = '{$category.id|escape}';
        {/if}

        {if isset($product)}
          
          var categories_ids = [];
          {foreach from=$product.categories item=cat}
              categories_ids.push({$cat.id})   ;      
          {/foreach}
          if (categories_ids.length != 0) 
            document.categories_ids = categories_ids;

          
          document.currentProductId = '{$product.id|escape}';
          
          {if $product.status == '1'}
            document.is_available = true;
          {else}
            document.is_available = false;
          {/if}
          document.currentProductPrice = '{$product.price}';
        {/if}        

        {* =============== Items in cart =================== *}
        var ids = [];        


        {foreach $wa->shop->cart->items() as $item}
          ids.push('{$item.product.id}');
        {/foreach}
        document.currentCart = ids;
      {literal}

      REES46.addReadyListener(function() {
        REES46.addStyleToPage();

        {/literal}
        {if isset($product)}

          REES46.pushData('view', {ldelim}
            item_id: document.currentProductId,
            price: document.currentProductPrice,
            is_available: document.is_available,
            categories: document.categories_ids,
            name: '{$product.name|escape}',
            url: '{$wa->shop->productUrl($product)}',
            image_url: '{$wa->shop->productImgUrl($product, '970')}'
          {rdelim});

        {/if}
        {literal}

        {/literal}
        {* =============== Add / remove to cart || ajax hooks =================== *}        
        {literal}

        $(document).ajaxSend(function(event, jqxhr, settings) {
          var url = settings.url;
          var data = settings.data;

          if (url && data){
            var arr_data = url.split('?')[0].split('/');
            var add = false;
            var remove = false;
            var cart = false;
            var item_id = null;
            var price = null;
            var categories = null;
            var is_available = null;

            $.each(arr_data, function(idx, param) {
              if (param.indexOf("cart") == 0) {
                cart = true;
              }
              if (param.indexOf("add") == 0) {
                add = true;
              }
              if (param.indexOf("delete") == 0) {
                remove = true;
              }
            });
            
            var arr_data = data.split('&');

            $.each(arr_data, function(idx, param) {
              if (add == true && param.indexOf("product_id") == 0) {
                var arr_param = param.split('=');
                item_id = arr_param[1];                
              }
              if (remove == true && param.indexOf("id") == 0) {
                var arr_param = param.split('=');
                var cart_id = arr_param[1];                

                {/literal}
                  {foreach $wa->shop->cart->items() as $item}
                    if ({$item.id} == cart_id) item_id = {$item.product_id};
                  {/foreach}
                {literal}           
              }
            });

            // we have product_info in document for this item
            if (item_id == document.currentProductId) {
              price  = document.currentProductPrice;
              categories = [document.currentCategoryId];
              is_available = document.is_available;
            }

            if (cart == true && add == true && item_id != null) {
              REES46.addReadyListener(function() {
                params = {item_id: item_id}
                // addition params if available
                if (price != null) params['price'] = price;
                if (categories != null) params['categories'] = [categories];
                if (is_available != null) params['is_available'] = is_available;


                REES46.pushData('cart', params);
              });
            };

            if (remove == true && item_id != null) {

              {/literal}
              var baseUrl = "{$wa->getUrl('/frontend/rees46/')}";              
              {literal}


              REES46.addReadyListener(function() {
                params = {item_id: item_id}
                // addition params if available
                if (price != null) params['price'] = price;
                if (categories != null) params['categories'] = [categories];
                if (is_available != null) params['is_available'] = is_available;

                REES46.pushData('remove_from_cart', params);
              });
            };
          };
        }); //end add to cart

        setREES46();
        


      }); // end addReadyListener

    }); // end $(function ()
  }

  
  var script = document.createElement('script');
  script.src = '//cdn.rees46.com/rees46_script2.js';
  script.async = true;
  script.onload = function() {
    initREES46();
  };
  document.getElementsByTagName('head')[0].appendChild(script);
</script>
{/literal}
{/if}