{if $rees46_shop_id && $rees46_shop_id != ''}
{literal}
<script type="text/javascript">
(function() {
window._r46 = {
    init: function() {
        (function(){
            window.r46=window.r46||function(){(window.r46.q=window.r46.q||[]).push(arguments)};
            var c="//cdn.rees46.com",v="/v3.js",s={link:[{href:c,rel:"dns-prefetch"},{href:c,rel:"preconnect"},{href:c+v,rel:"preload",as:"script"}],script:[{src:c+v,async:""}]};
            Object.keys(s).forEach(function(c){s[c].forEach(function(d){var e=document.createElement(c),a;for(a in d)e.setAttribute(a,d[a]);document.head.appendChild(e)})});
        })();
{/literal}
        r46('init', '{$rees46_shop_id}');
{literal}
    }, 
    addInstantSearch: function(){
        $('form[action*="search"] input[name*="query"]').each(function(k, v) {
            $(v).addClass('rees46-instant-search');
        });
    },
    tracking: function() {
 {/literal}
        {if isset($category)}
        document.currentCategoryId = '{$category.id|escape}';
        if (document.currentCategoryId) {
            r46('track', 'category', document.currentCategoryId);
        }
        {/if}

        {if !empty($rees46_query)}
        document.search_query = '{$rees46_query}';
        if (document.search_query) {
            r46('track', 'search', document.search_query);
        }
        {/if}

        {if isset($product)}
            var categories_ids = [];
            {foreach from=$product.categories item=cat}
            categories_ids.push({$cat.id});      
            {/foreach}

            if (categories_ids.length != 0) {
                document.categories_ids = categories_ids;
            }
            document.currentProductId = '{$product.id|escape}';
            {if $product.skus[$product.sku_id]["available"] === '1'}

            document.is_available = true;
            {else}
            document.is_available = false;
            {/if}

            document.currentProductPrice = '{$product.price}';
            document.currentProductName = '{$product.name|escape}';
            document.currentProductUrl = '{$wa->domainUrl()}{$wa->shop->productUrl($product)}';
            document.currentProductImage = '{$wa->domainUrl()}{$wa->shop->productImgUrl($product, '970')}';
        {/if}        

        var ids = [];        
        {foreach $wa->shop->cart->items() as $item}
        ids.push('{$item.product.id}');
        {/foreach}

        document.currentCart = ids;

        {if isset($product)}

        r46('track', 'view', {ldelim}
            id: document.currentProductId,
            price: document.currentProductPrice,
            stock: document.is_available,
            categories: document.categories_ids,
            url: document.currentProductUrl,
            image_url: document.currentProductImage,
            name: document.currentProductName
        {rdelim});
        {/if}

{literal}

        $(document).ajaxSend(function(event, jqxhr, settings) {
            var url = settings.url;
            var data = settings.data;

            if (url && typeof url == "string" && data && typeof data == "string"){
                var arr_data = url.split('?')[0].split('/');
                var add = false;
                var remove = false;
                var cart = false;
                var cartFull = false;
                var item_id = null;
                var price = null;
                var categories = null;
                var is_available = null;
                var name = null;
                var item_url = null;
                var image_url = null;

                $.each(arr_data, function(idx, param) {
                    if (param.indexOf("save") == 0) {
                        cartFull = true;
                    }
                    if (param.indexOf("cart") == 0 && cartFull == false) {
                        cart = true;
                    }
                    if (param.indexOf("add") == 0 && cartFull == false) {
                        add = true;
                    }
                    if (param.indexOf("delete") == 0 && cartFull == false) {
                        remove = true;
                    }
                });

                if (cartFull || cart || add || remove) {
                    var arr_data = data.split('&');

                    $.each(arr_data, function(idx, param) {
                        if (add == true && param.indexOf("product_id") == 0) {
                            var arr_param = param.split('=');
                            item_id = arr_param[1];
                        }
                        if (remove == true && param.indexOf("id") == 0) {
                            var arr_param = param.split('=');
                            var cart_id = arr_param[1];                
{/literal}
                            {foreach $wa->shop->cart->items() as $item}
                            if ({$item.id} == cart_id) item_id = {$item.product_id};
                            {/foreach}
{literal}
                        }
                    });

                    if (cart == true && add == true && item_id != null) {
                        r46('track', 'cart', item_id);
                    };

                    if (remove == true && item_id != null) {
                        r46('track', 'remove_from_cart', item_id);
                    };

                    if (cartFull) {
                        var items = arr_data.map(function(item) {
                            return decodeURIComponent(item);
                        }).filter(function(item) {
                            return /(sku_id|quantity)/.test(item);
                        });

                        var countItems = items.filter(function(item) {
                            return /sku_id/.test(item);
                        }).length;

                        var params = [];
                        for (var i = 0; i < countItems; i++) {
                            var pattern = new RegExp(`items\\[${i}\\]`, 'i');
                            var currentItem = items.filter(function(item) {
                                return pattern.test(item);
                            }).reduce(function(obj, item) {
                                if (/sku_id/.test(item)) {
                                    obj.id = item.split('=')[1];
                                }
                                if (/quantity/.test(item)) {
                                    obj.amount = item.split('=')[1];
                                }
                                return obj;
                            }, {});
                            if (currentItem.id && currentItem.amount && currentItem.amount > 0) {
                                params.push(currentItem);
                            };
                        };
                        r46("track", "cart", params);
                    };
                };
            };
        });

        if (typeof _r46_order_info != 'undefined') {
            var order = JSON.parse(_r46_order_info);

            r46('track', 'purchase', {
                products: order.products,
                order: order.order,
                order_price: order.order_price
            });
            r46('profile', 'set', {"id":order.user.id, "email":order.user.email});
        }

    }
};
    var initREES46 = function () {
        var jQueryIsLoaded = setInterval(function() {
            if (typeof jQuery != 'undefined') {
                clearInterval(jQueryIsLoaded);
                window._r46.addInstantSearch();
                window._r46.init();
                window._r46.tracking();
            }
        }, 100);
    }
   
    var isREES46InitializationStarted = false;
    if ( document.readyState === "complete" ) {
        isREES46InitializationStarted = true;
        initREES46();
    } else if ( document.addEventListener ) {
        document.addEventListener( "DOMContentLoaded", function(){
            if(isREES46InitializationStarted == false) {
                initREES46();
                isREES46InitializationStarted = true;
            }
        });
        window.addEventListener( "load", function(){
            if(isREES46InitializationStarted == false) {
                initREES46();
                isREES46InitializationStarted = true;
            }
        });
    } else {
        window.attachEvent( "onload", function(){
            if(isREES46InitializationStarted == false) {
                initREES46();
                isREES46InitializationStarted = true;
            }
        });
    }    
})();
</script>
{/literal}
{/if}
